[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
requests-oauthlib = "*"

[dev-packages]
pre-commit = "*"

[requires]
python_version = "3.6"

[scripts]
format = "pipenv run pre-commit run --all-files"
test = "pipenv run python -m unittest discover tests"
