[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
requests-oauthlib = "*"

[dev-packages]
black = "*"
"flake8" = "*"
pytest = "*"

[requires]
python_version = "3.6"

[scripts]
init = "git config core.hooksPath .hooks"
format = "black . --line-length=100"
lint = "flake8 . --max-line-length=100"
test = "pytest -s"

[pipenv]
allow_prereleases = true
