[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
"flake8" = "*"
"flake8-quotes" = "*"

[requires]
python_version = "3.6"

[scripts]
lint = "flake8 --inline-quotes 'double'"
